@{
        if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?message=1&returnUrl="
            + Request.Url.LocalPath);
    }
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Maak een Afspraak";
    var db = Database.Open("Skripka");
    var ID = Request.QueryString["id"];
    var tijd = db.QuerySingle("SELECT Tijd FROM Agenda WHERE ID = @0", ID);
    var username = db.QuerySingle("SELECT UserName FROM UserProfile WHERE UserId = @0", WebSecurity.CurrentUserId);

        if(IsPost && !Request["buttonMaandag"].IsEmpty()){
        if(db.QuerySingle("SELECT Maandag FROM Agenda WHERE ID = @0", ID == null)){
        var Command = "UPDATE Agenda SET Maandag= @0 WHERE ID = @1";
        db.Execute(Command,username, ID);
        Response.Redirect("~/Agenda?message=2");
        }
        else{
        Response.Redirect("~/Agenda?message=3"); 
        }
        
    }
        if(IsPost && !Request["buttonDinsdag"].IsEmpty()){
        if(db.QuerySingle("SELECT Dinsdag FROM Agenda WHERE ID = @0", ID == null)){
        var Command = "UPDATE Agenda SET Dinsdag= @0 WHERE ID = @1";
        db.Execute(Command,username, ID);
        Response.Redirect("~/Agenda?message=2");
        }
        else{
        Response.Redirect("~/Agenda?message=3"); 
        }
        
    }
        if(IsPost && !Request["buttonWoensdag"].IsEmpty()){
        if(db.QuerySingle("SELECT Woensdag FROM Agenda WHERE ID = @0", ID == null)){
        var Command = "UPDATE Agenda SET Woensdag= @0 WHERE ID = @1";
        db.Execute(Command,username, ID);
        Response.Redirect("~/Agenda?message=2");
        }
        else{
        Response.Redirect("~/Agenda?message=3"); 
        }
        
    }
        if(IsPost && !Request["buttonDonderdag"].IsEmpty()){
        if(db.QuerySingle("SELECT Donderdag FROM Agenda WHERE ID = @0", ID == null)){
        var Command = "UPDATE Agenda SET Donderdag= @0 WHERE ID = @1";
        db.Execute(Command,username, ID);
        Response.Redirect("~/Agenda?message=2");
        }
        else{
        Response.Redirect("~/Agenda?message=3"); 
        }
        
    }
        if(IsPost && !Request["buttonVrijdag"].IsEmpty()){
        if(db.QuerySingle("SELECT Vrijdag FROM Agenda WHERE ID = @0", ID == null)){
        var Command = "UPDATE Agenda SET Vrijdag= @0 WHERE ID = @1";
        db.Execute(Command,username, ID);
        Response.Redirect("~/Agenda?message=2");
        }
        else{
        Response.Redirect("~/Agenda?message=3"); 
        }
        
    }
        if(IsPost && !Request["buttonZaterdag"].IsEmpty()){
            var zaterdag = db.QuerySingle("SELECT Zaterdag FROM Agenda WHERE ID =@0", Request.QueryString["id"]);
        if(zaterdag == null ){
            var Command1 = "UPDATE Agenda SET Zaterdag=@0 WHERE ID =@1";
            db.Execute(Command1, username, ID);
            Response.Redirect("~/Agenda?message=2");
        }
        else{
            Response.Redirect("~/Agenda?message=3"); 
        }
    }

}

<h2>Afspraak Maken</h2>
@Html.ValidationSummary()

<form method="post">
<fieldset>
    <legend>Maak een afspraak voor: @username om: @tijd op:</legend>


        <br> <br><input type="hidden" name="ID" value="@ID" /> <input type="submit" name="buttonMaandag" value="Maandag" />
        <br> <br><input type="hidden" name="ID" value="@ID" /> <input type="submit" name="buttonDinsdag" value="Dinsdag" />
        <br> <br><input type="hidden" name="ID" value="@ID" /> <input type="submit" name="buttonWoensdag" value="Woensdag" />
        <br> <br><input type="hidden" name="ID" value="@ID" /> <input type="submit" name="buttonDonderdag" value="Donderdag" />
        <br> <br><input type="hidden" name="ID" value="@ID" /> <input type="submit" name="buttonVrijdag" value="Vrijdag" />
        <br> <br><input type="hidden" name="ID" value="@ID" /> <input type="submit" name="buttonZaterdag" value="Zaterdag" />
        </p>
</fieldset>
</form>
<p><a href="~/Agenda">Terug naar Agenda</a></p>